

// .template{
//     &__title {
//         display: flex;
//         flex-direction: column;
//         margin-top: 10px;
//         &__name {
//             margin-left: 10px;
//             font-size: 15px;
//         }
//         &__version {
//             margin-left: 10px;
//             font-size: 15px;
//         }
//         &__sample {
//             margin-left: 10px;
//             font-size: 15px;
//             font-weight: bold;
//         }
//     }

//     &__form {
//         margin: 10px;
//     }
// }

.dialogropdown {
    width: 150px;
    margin-left: 400px;
}

.dialogTemplate{
    &__title {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        &__name {
            margin-left: 10px;
            font-size: 15px;
        }
        &__version {
            margin-left: 10px;
            font-size: 15px;
        }
        &__sample {
            margin-left: 10px;
            font-size: 15px;
            font-weight: bold;
        }
    }

    &__form {
        margin: 10px;
    }
}

.dialogSample {
    margin: 10px;
    &__title {
        text-align: left;
    }
}